name: RSpec

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  BASEBALLBOT_PG_HOST: localhost
  BASEBALLBOT_PG_USERNAME: baseballbot
  BASEBALLBOT_PG_DATABASE: baseballbot_test
  BASEBALLBOT_PG_PASSWORD: password
  REDDIT_CLIENT_ID: ""
  REDDIT_SECRET: ""
  REDDIT_REDIRECT_URI: ""
  TZ: America/Los_Angeles

jobs:
  test:
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: baseballbot_test
          POSTGRES_PASSWORD: password
          POSTGRES_USER: baseballbot
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        ruby: [4.0]

    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically:

    - name: Install dependencies
      run: bundle install

    - name: Set up database
      run: bundle exec rake test:db:reset

    - name: Run tests
      run: bundle exec rake
